body {
    background-color: #171717;
}

/* section1 */
#section1 {

}
#section1 h2 {
    font-family: 'SB Aggro';
    font-style: normal;
    font-weight: 400;
    font-size: 33px;
    line-height: 43px;
    color: #FFFFFF;
    margin-top: 200px;
    margin-left: 100px;
}
#section1 p {
    
}