body {
    background-color: #171717;
}

/* section1 */
#section1 {
    text-align: center;
}
#section1 h2 {
    margin-top: 150px;
    font-family: "SBAggroM";
    font-weight: 400;
    font-size: 70px;
    line-height: 47px;
    text-align: center;
    color: #ffffff;
}
#section1 img {
    margin: 30px auto;
    height: 300px;
}
#section1 ul {
    margin: 30px auto;
    font-size: 46px;
    text-align: center;
    color: #186BFF;
}
#section1 li {
    font-family: "SBAggroM";
    display: inline;
    width: 33.33%;
    float: left;
}
#section1 p {
    color: #ffffff;
    text-align: center;
    margin: 200px 0;
    font-size: 70px;
    line-height: 80px;
    font-family: "SBAggroM";
}

/* section2 */
#section2 {
    height: 500px;
}
#section2 *{
    vertical-align: middle;
}
#section2 h2 {
    display: inline;
    font-family: "SBAggroL";
    font-size: 60px;
    text-align: center;
    color: #FFFFFF;
}
#section2 img {
    height: 480px;
    margin-left: 280px;
}
/* 스크롤 */
.side_scroll {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    position: relative;
}
.side_scroll::-webkit-scrollbar {
    display: none
}
.scroll_element {
    min-width: 100%;
    border: #FFFFFF 1px solid;
}

/* section3 */
#section3 {
    height: 600px;
    position: relative;
}
#section3 img {
    width: 500px;
    position: absolute;
    left: 70px;
    top: 40px;
    z-index: -1;
}
#section3 h2 {
    margin-top: 200px;
    font-family: "SBAggroL";
    font-size: 70px;
    line-height: 80px;
    text-align: center;
    color: #FFFFFF;
}