body {
    background-color: #171717;
}

/* section1 */
#section1 {
    text-align: center;
    position: relative;
}
#section1 h2 {
    margin-top: 150px;
    font-family: "SBAggroM";
    font-weight: 400;
    font-size: 70px;
    line-height: 47px;
    text-align: center;
    color: #ffffff;
}
#section1 img {
    margin: 50px auto;
}
#section1 #b1 {
    position: absolute;
    margin: 0;
    top: 300px;
    left: -130px;
    z-index: -1;
}
#section1 #b2 {
    position: absolute;
    bottom: -100px;
    margin: 0;
    right: -200px;
    z-index: -1;
}
#section1 ul {
    margin: 30px auto;
    font-size: 46px;
    text-align: center;
    color: #186BFF;
}
#section1 li {
    font-family: "SBAggroM";
    display: inline;
    width: 33.33%;
    float: left;
}
#section1 p {
    color: #ffffff;
    text-align: center;
    margin: 200px 0;
    font-size: 70px;
    line-height: 80px;
    font-family: "SBAggroM";
}

/* section2 */
#section2 {
    height: 500px;
}
#section2 *{
    vertical-align: middle;
}
#section2 h2 {
    display: inline;
    font-family: "SBAggroL";
    font-size: 60px;
    text-align: center;
    color: #FFFFFF;
}
#section2 img {
    height: 480px;
    margin-left: 280px;
}
/* 스크롤 */
.side_scroll {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    position: relative;
}
.side_scroll::-webkit-scrollbar {
    display: none
}
.scroll_element {
    min-width: 100%;
    border: #FFFFFF 1px solid;
}

/* section3 */
#section3 {
    height: 600px;
    position: relative;
}
#section3 *{
    vertical-align: middle;
}
#section3 img {
    width: 500px;
    position: absolute;
    left: 70px;
    top: 40px;
    z-index: -1;
}
#section3 h2 {
    margin-top: 200px;
    font-family: "SBAggroL";
    font-size: 70px;
    line-height: 80px;
    text-align: center;
    color: #FFFFFF;
}

/* section4 */
#section4 img {
    width: 500px;
}
.container1 {
    height: 5500px;
    width: 50%;
    float: left;
}
.animate {
    position: sticky;
    top: 45vh;
    opacity: 1;
    font-size: 40px;
    width: 100%;
    height: 90px;
    text-align: left;
}
.trigger {
    width: 100%;
    height: 10px;
    margin-bottom: 900px;
}
.ani_1 {
    top: 130px;
}
.ani_2 {
    top: 130px;
}

.ani_3 {
    top: 130px;
}

.ani_4 {
    top: 130px;
}

.ani_5 {
    top: 130px;
}

/* section5 */
#section5 h2{
    display: inline;
    font-family: "SBAggroL";
    font-size: 50px;
    color: #FFFFFF;
}
.animate h2 {
    display: inline-block;
}
.animate_1 {
    top: 180px;
}
.animate_2 {
    top: 280px;
}
.animate_3 {
    top: 380px;
}
.animate_4 {
    top: 480px;
}
.animate_5 {
    top: 580px;
}

/* section6 */
#section6 {
    margin-top: 500px;
    position: relative;
    height: 600px;
}
#section6 h2 {
    margin-top: 200px;
    font-family: "SBAggroL";
    font-size: 70px;
    line-height: 80px;
    text-align: center;
    color: #FFFFFF;
}
#section6 img {
    z-index: -1;
    width: 400px;
    position: absolute;
    top: 50px;
    right: 250px;
}

/* section7 */
.container2 {
    height: 3000px;
    width: 50%;
    float: left;
}
#section7 img {
    width: 500px;
}

/* section8 */
#section8 h2{
    display: inline;
    font-family: "SBAggroL";
    font-size: 50px;
    color: #FFFFFF;
}
.animate_6 {
    top: 250px;
}
.animate_7 {
    top: 350px;
}
.animate_8 {
    top: 450px;
}

/* section9 */
#section9 {
    margin-top: 500px;
    position: relative;
    height: 600px;
}
#section9 h2 {
    margin-top: 200px;
    font-family: "SBAggroL";
    font-size: 70px;
    line-height: 80px;
    text-align: center;
    color: #FFFFFF;
}
#section9 img {
    z-index: -1;
    width: 400px;
    position: absolute;
    top: 50px;
    left: 250px;
}
/* section10 */
.container3 {
    height: 2000px;
    width: 50%;
    float: left;
}
#section10 img {
    width: 500px;
}
/* section11 */
#section11 h2{
    display: inline;
    font-family: "SBAggroL";
    font-size: 50px;
    color: #FFFFFF;
}
.animate_9 {
    top: 300px;
}
.animate_10 {
    top: 400px;
}

#section12 {
    height: 1000px;
}
#section12 h2 {
    display: none;
}