body {
    background-color: #171717;
}

/* section1 */
#section1 h2 {
    position: absolute;
    left: 50%;
    top: 250px;
    margin-left: -360px;
    font-family: 'SB Aggro';
    font-size: 160px;
    display: inline;
    text-align: center;

    color: #FFFFFF;
}

/* #move {
    background-color: #186dff90;
    border-radius: 0 0 115px 115px;
    height: 780px;
    overflow: hidden;
    position: relative;
    background-image: url(../img/img1.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-blend-mode: multiply;
}
#move .wave {
    position: absolute;
    width: 100%;
    height: 143px;
    background: url("../img/wave.png");
    bottom: 0;
    left: 0;
    animation: wave 10s linear infinite;
}
#move .wave:before {
    content: '';
    width: 100%;
    height: 143px;
    background: url("../img/wave.png");
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.4;
    animation: wave-reverse 10s linear infinite;
}
#move .wave:after {
    content: '';
    width: 100%;
    height: 143px;
    background: url("../img/wave.png");
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.6;
    animation-delay: -5s;
    animation: wave 20s linear infinite;
}
@keyframes wave {
    0%{
        background-position: 0;
    }
    100% {
        background-position: 1360px;
    }
}

@keyframes wave-reverse {
    0%{
        background-position: 1360px;
    }
    100% {
        background-position: 0;
    }
}

/* section1
#section1 {
    height: 780px;
    position: relative;
}
#section1 #sub_title {
    position: absolute;
    left: 44px;
    top: 244px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    color: #FFFFFF;
}
#section1 #title {
    position: absolute;
    left: 42px;
    top: 270px;

    font-style: normal;
    font-weight: 600;
    font-size: 37px;
    line-height: 64px;

    color: #FFFFFF;
}
/* #section1 #hand {
    position: absolute;
    width: 456px;
    height: 569px;
    left: 909px;
    top: 124px;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
} 
#section1 #down_g {
    box-sizing: border-box;

    position: absolute;
    width: 217px;
    height: 42px;
    left: 34px;
    top: 529px;
    border: 1px solid #FFFFFF;
    padding-left: 33px;
    
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    
    color: white;
}
#section1 #down_g span {
    line-height: 20px;
}
#section1 #down_a {
    box-sizing: border-box;

    position: absolute;
    width: 217px;
    height: 42px;
    left: 305px;
    top: 529px;
    border: 1px solid #FFFFFF;
    padding-left: 33px;
    
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 33px;
    color: white;
}
#section1 #down_g:hover {
    background-color: #FFFFFF;
    color: #186BFF;
    padding-left: 0px;
    transition: all 0.5s ease-in-out;
}
#section1 #down_a:hover {
    background-color: #FFFFFF;
    color: #186BFF;
    padding-left: 0px;
    transition: all 0.5s ease-in-out;
}
#section1 #gp {
    position: absolute;
    width: 27px;
    height: 27px;
    left: 53px;
    top: 537px;
}
#section1 #as {
    position: absolute;
    width: 29px;
    height: 28px;
    left: 326px;
    top: 536px;
}

/* section2
#section2 {
    position: relative;
    height: 750px;
}
#section2 h2 {
    font-family: 'SBAggroB';
    position: absolute;
    left: 42px;
    top: 237px;
    font-size: 77px;
    line-height: 121px;
}
#section2 h2 .blue {
    color: #186BFF;
    font-size: 150px;
}
#section2 h2 div {
    display: inline-block;
    background-color: #186BFF;
    width: 100px;
    height: 30px;
    margin-bottom: 30px;
    transition: all 0.5s;
}
#section2 h2 div:hover {
    width: 450px;
}
#section2 #text{
    top: 22px;
    left: 22px;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    vertical-align: middle;
    text-align: center;
}
#section2 #t1{
    position: absolute;
    left: 791px;
    top: 209px;
}
#section2 #t2{
    position: absolute;
    left: 1004.07px;
    top: 260px;
}
#section2 #t3{
    position: absolute;
    left: 791px;
    top: 313px;
}
#section2 #t4{
    position: absolute;
    left: 1004.07px;
    top: 367px;
}
#section2 #t5{
    position: absolute;
    left: 883.8px;
    top: 425px;
}
#section2 .text {
    position: absolute;
    top: 22px;
    left: 22px;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 33px;
    z-index: 1;
}

/* section3 
#section3 {
    position: relative;
    height: 750px;
    padding: 50px;
    background-color: #186BFF;
}
 */