#main0 {
    position: absolute;
    right: 0;
    z-index: -2;
}
#main1 {
    position: absolute;
    left: 0;
    top: 1700.55px;
    z-index: -2;
}
#main2 {
    position: absolute;
    right: 0;
    top: 3084.45px;
    z-index: -2;
}
#main3{
    position: absolute;
    top: 850px;
    left: 0;
    z-index: -2;
}

/* section1 */
#section1 {
    position: relative;
    height: 1000px;
}
#section1 h2 {
    position: absolute;
    left: 50%;
    top: 300px;
    margin-left: -300px;
    font-family: 'SBAggroB';
    font-size: 96px;
    display: inline;
    text-align: center;
    line-height: 80px;
    color: #FFFFFF;
}
#section1 h2 span {
    font-size: 34px;
    font-family: 'SBAggroL';
}
#section1 p {
    color: #000;
    position: absolute;
    z-index: 3;
    left: 50%;
    margin-left: -109px;
    top: 175px;
    font-size: 24px;
    font-family: 'SBAggroM';
}
#section1 #c1{
    position: absolute;
    top: -100px;
    left: 150px;
    transition: all 0.5s;
    /* animation: moving1 forwards 3s infinite; */
}
#section1 #c2{
    position: absolute;
    top: 100px;
    left: 550px;
    transition: all 0.5s;
    /* animation: moving2 forwards 3s infinite; */
}
#section1 #c3{
    position: absolute;
    top: -100px;
    right: -150px;
    transition: all 0.5s;
    /* animation: moving3 forwards 3s infinite; */
}
#section1 #c4{
    position: absolute;
    top: 320px;
    left: 250px;
    transition: all 0.5s;
    /* animation: moving4 forwards 3s infinite; */
}
#section1 #c5{
    position: absolute;
    top: 50px;
    right: 200px;
    transition: all 0.5s;
    /* animation: moving5 forwards 3s infinite; */
}
#section1 #c6{
    position: absolute;
    top: 350px;
    right: 10px;
    transition: all 0.5s;
    /* animation: moving6 forwards 3s infinite; */
}
#section1 #c7{
    position: absolute;
    top: 500px;
    left: 30px;
    transition: all 0.5s;
    /* animation: moving7 forwards 3s infinite; */
}
#section1 #c8{
    position: absolute;
    top: 600px;
    right: 200px;
    transition: all 0.5s;
    /* animation: moving8 forwards 3s infinite; */
}
#section1 #c9{
    position: absolute;
    top: 500px;
    left: 300px;
    transition: all 0.5s;
}
#section1 #c10{
    position: absolute;
    top: 250px;
    left: 300px;
    transition: all 0.5s;
}
#section1 #c11{
    position: absolute;
    top: 300px;
    right: 100px;
    transition: all 0.5s;
}
#section1 #c12{
    position: absolute;
    top: 100px;
    left: 100px;
    transition: all 0.5s;
}
#section1 #c13{
    position: absolute;
    top: 200px;
    right: 500px;
    transition: all 0.5s;
}
#section1 #c14{
    position: absolute;
    top: 350px;
    right: 410px;
    transition: all 0.5s;
}
#section1 #c15{
    position: absolute;
    top: 250px;
    left: 430px;
    transition: all 0.5s;
}
#section1 #c16{
    position: absolute;
    top: 300px;
    right: 500px;
    transition: all 0.5s;
}
#section1 #c17{
    position: absolute;
    top: 300px;
    right: 600px;
    transition: all 0.5s;
}
#section1 #c18{
    position: absolute;
    top: 400px;
    right: 200px;
    transition: all 0.5s;
}
#section1 #c19{
    position: absolute;
    top: 300px;
    left: 200px;
    transition: all 0.5s;
}
#section1 #c20{
    position: absolute;
    top: 480px;
    left: 600px;
    transition: all 0.5s;
}
#section1 #c21{
    position: absolute;
    top: -100px;
    left: 300px;
    transition: all 0.5s;
}
#section1 #c22{
    position: absolute;
    top: 60px;
    left: 700px;
    transition: all 0.5s;
}
#section1 #c23{
    position: absolute;
    top: 500px;
    left: 600px;
    transition: all 0.5s;
}
#section1 #c24{
    position: absolute;
    top: 100px;
    right: 50px;
    transition: all 0.5s;
}
#section1 #c25{
    position: absolute;
    top: 200px;
    right: -50px;
    transition: all 0.5s;
}
#section1 #c26{
    position: absolute;
    top: 500px;
    left: 250px;
    transition: all 0.5s;
}
#section1 #c27{
    position: absolute;
    top: 300px;
    left: -50px;
    transition: all 0.5s;
}
#section1 #c28{
    position: absolute;
    top: 150px;
    right: 500px;
    transition: all 0.5s;
}
#section1 #c29{
    position: absolute;
    top: 500px;
    left: 350px;
    transition: all 0.5s;
}
#section1 #c30{
    position: absolute;
    top: 180px;
    left: 300px;
    transition: all 0.5s;
}
#section1 #c31{
    position: absolute;
    top: 150px;
    left: 100px;
    transition: all 0.5s;
}
#section1 #c32{
    position: absolute;
    top: 200px;
    left: 0px;
    transition: all 0.5s;
}
#section1 #c33{
    position: absolute;
    top: 550px;
    right: 250px;
    transition: all 0.5s;
}
#section1 #c34{
    position: absolute;
    top: 150px;
    left: -50px;
    transition: all 0.5s;
}
#section1 #c35{
    position: absolute;
    top: -50px;
    left: -100px;
    transition: all 0.5s;
}
#section1 #c36{
    position: absolute;
    top: 500px;
    right: 320px;
    transition: all 0.5s;
}
#section1 #c37{
    position: absolute;
    top: 500px;
    right: -150px;
    transition: all 0.5s;
}
#section1 #c38{
    position: absolute;
    top: 0px;
    right: 200px;
    transition: all 0.5s;
}
#section1 #c39{
    position: absolute;
    top: -100px;
    right: 450px;
    transition: all 0.5s;
}
#section1 #c40{
    position: absolute;
    top: 0px;
    right: 350px;
    transition: all 0.5s;
}
/* @keyframes moving1 {
    0% {top: -10px}
    50% {top: 0px}
    100% {top: -10px}
}
@keyframes moving2 {
    0% {top: 85px}
    50% {top: 100px}
    100% {top: 85px}
}
@keyframes moving3 {
    0% {top: -10px}
    50% {top: 0px}
    100% {top: -10px}
}
@keyframes moving4 {
    0% {top: 300px}
    50% {top: 320px}
    100% {top:300px}
}
@keyframes moving5 {
    0% {top: 90px}
    50% {top: 100px}
    100% {top: 90px}
}
@keyframes moving6 {
    0% {top: 330px}
    50% {top: 350px}
    100% {top: 330px}
}
@keyframes moving7 {
    0% {top: 490px}
    50% {top: 500px}
    100% {top: 490px}
}
@keyframes moving8 {
    0% {top: 590px}
    50% {top: 600px}
    100% {top: 590px}
} */
#section1 #p1 {
    position: absolute;
    width: 300px;
    top: -50px;
    right: 320px;
    z-index: -1;
    transition: all 1s;
    animation: p_moving1 forwards 3s infinite;
}
#section1 #p2 {
    position: absolute;
    left: -10px;
    top: 120px;
    z-index: -1;
    transition: all 1s;
    animation: p_moving2 forwards 3s infinite;
}
#section1 #p3 {
    position: absolute;
    top: 500px;
    left: 300px;
    z-index: -1;
    transition: all 1s;
    animation: p_moving3 forwards 3s infinite;
}
#section1 #p4 {
    position: absolute;
    top: 500px;
    right: -50px;
    z-index: -1;
    transition: all 1s;
    animation: p_moving4 forwards 3s infinite;
}
@keyframes p_moving1 {
    0% {top: -30px}
    50% {top: -50px}
    100% {top: -30px}
}
@keyframes p_moving2 {
    0% {top: 100px}
    50% {top: 120px;}
    100% {top: 100px}
}
@keyframes p_moving3 {
    0% {top: 490px}
    50% {top: 500px}
    100% {top: 490px}
}
@keyframes p_moving4 {
    0% {top: 530px}
    50% {top: 500px}
    100% {top: 530px}
}
/* #move {
    background-color: #186dff90;
    border-radius: 0 0 115px 115px;
    height: 780px;
    overflow: hidden;
    position: relative;
    background-image: url(../img/img1.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-blend-mode: multiply;
}
#move .wave {
    position: absolute;
    width: 100%;
    height: 143px;
    background: url("../img/wave.png");
    bottom: 0;
    left: 0;
    animation: wave 10s linear infinite;
}
#move .wave:before {
    content: '';
    width: 100%;
    height: 143px;
    background: url("../img/wave.png");
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.4;
    animation: wave-reverse 10s linear infinite;
}
#move .wave:after {
    content: '';
    width: 100%;
    height: 143px;
    background: url("../img/wave.png");
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.6;
    animation-delay: -5s;
    animation: wave 20s linear infinite;
}
@keyframes wave {
    0%{
        background-position: 0;
    }
    100% {
        background-position: 1360px;
    }
}

@keyframes wave-reverse {
    0%{
        background-position: 1360px;
    }
    100% {
        background-position: 0;
    }
}

/* section2 */
#section2 {
    position: relative;
    height: 750px;
}
#section2 h2 {
    color: #FFFFFF;
    font-family: 'SBAggroB';
    position: absolute;
    left: 42px;
    top: 200px;
    font-size: 60px;
    line-height: 121px;
    margin-left: -1000px;
    transition: all 0.8s;
    opacity: 0;
}
#section2 h2.active {
    margin-left: 0px;
    opacity: 1;
}
#section2 h2 #blue {
    color: #186BFF;
    font-size: 150px;
    transition: all 0.3s;
}
#section2 h2 #blue {
    color: #186BFF;
    font-size: 150px;
}
#section2 h2 #line {
    display: inline-block;
    background-color: white;
    width: 100px;
    height: 30px;
    margin-bottom: 30px;
    transition: all 0.3s;
}
#section2 h2 #line.active {
    width: 230px;
}
#section2 #t1{
    position: absolute;
    left: 791px;
    top: 219px;
    margin-top: -100px;
    opacity: 0;
    transition: all 0.3s;
}
#section2 #t2{
    position: absolute;
    left: 1004.07px;
    top: 270px;
    opacity: 0;
    transition: all 0.4s;
    margin-top: -120px;
}
#section2 #t3{
    position: absolute;
    left: 791px;
    top: 323px;
    opacity: 0;
    margin-top: -140px;
    transition: all 0.5s;
}
#section2 #t4{
    position: absolute;
    left: 1004.07px;
    top: 377px;
    opacity: 0;
    margin-top: -160px;
    transition: all 0.6s;
}
#section2 #t5{
    position: absolute;
    left: 883.8px;
    opacity: 0;
    margin-top: -180px;
    top: 435px;
    transition: all 0.7s;
}
#section2 #t1.active, #section2 #t2.active, #section2 #t3.active, #section2 #t4.active, #section2 #t5.active {
    opacity: 1;
    margin-top: 0;
}
#section2 .text {
    position: absolute;
    top: 22px;
    left: 22px;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 33px;
    z-index: 1;
}
#section2 #section2_p {
    margin: 480px 0 0 20px;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 25px;
    margin-left: -1000px;
    transition: all 0.5s;
    opacity: 0;
}
#section2 #section2_p.active {
    margin-left: 20px;
    opacity: 1;
}

/* section3 */ 
#section3 {
    padding: 0 40px;
    position: relative;
    height: 700px;
}
#section3 h2{
    color: #FFFFFF;
    font-size: 64px;
    font-family: 'SBAggroL';
    margin-top: 100px;
}
#section3 #h23 {
    margin-left: -1200px;
    transition: all 0.5s;
    opacity: 0;
}
#section3 #h23.active {
    margin-left: 0;
    opacity: 1;
}
#section3 p{
    color: #FFFFFF;
    font-family: 'SBAggroB';
    margin-top: 50px;
}
#section3 #today {
    opacity: 0;
    transition: all 0.5s;
    font-size: 100px;
}
#section3 #today.active {
    opacity: 1;
    font-size: 161px;
}
#section3 #today_p {
    position: absolute;
    right: 600px;
    opacity: 0;
    top: 100px;
    transition: all 0.4s;
}
#section3 #today_p.active {
    right: 300px;
    opacity: 1;
}
#section3 #today_l {
    position: absolute;
    right: 600px;
    bottom: 250px;
    z-index: -1;
    opacity: 0;
    transition: all 0.4s;
}
#section3 #today_l.active {
    right: 400px;
    opacity: 1;
}
/* section4 */
#section4 {
    padding: 0 40px;
    position: relative;
    height: 700px;
}
#section4 h2{
    color: #FFFFFF;
    font-size: 64px;
    font-family: 'SBAggroL';
    margin-top: 100px;
    margin-left: -1000px;
    transition: all 0.4s;
    opacity: 0;
}
#section4 #h24.active {
    margin-left: 0;
    opacity: 1;
}
#section4 p{
    color: #FFFFFF;
    font-family: 'SBAggroB';
    margin-top: 50px;
    transition: all 0.4s;
}
#section4 #check {
    font-size: 210px;
    opacity: 0;
}
#section4 #check.active {
    font-size: 161px;
    opacity: 1;
}
#section4 #check_p {
    position: absolute;
    right: 100px;
    top: 100px;
    opacity: 0;
    transition: all 0.4s;
}
#section4 #check_p.active {
    right: 300px;
    opacity: 1;
}
#section4 #check_l {
    position: absolute;
    right: 200px;
    bottom: 250px;
    z-index: -1;
    opacity: 0;
    transition: all 0.4s;
}
#section4 #check_l.active {
    right: 400px;
    opacity: 1;
}

/* section5 */
#section5 {
    padding: 0 40px;
    position: relative;
    height: 700px;
}
#section5 h2{
    color: #FFFFFF;
    font-size: 64px;
    font-family: 'SBAggroL';
    margin-top: 100px;
}
#section5 #h25 {
    margin-left: -1000px;
    transition: all 0.4s;
    opacity: 0;
}
#section5 #h25.active {
    margin-left: 0;
    opacity: 1;
}
#section5 p{
    font-size: 161px;
    color: #FFFFFF;
    font-family: 'SBAggroB';
    margin-top: 50px;
}
#section5 #chat {
    opacity: 0;
    transition: all 1s;
}
#section5 #chat.active {
    opacity: 1;
    animation: chat forwards 1.3s;
}
#section5 #chat_p {
    position: absolute;
    right: 300px;
    top: 100px;
    opacity: 0;
    transition: all 1s;
}
#section5 #chat_p.active {
    opacity: 1;
    animation: chat forwards 1.3s;
}
#section5 #chat_l {
    position: absolute;
    right: 150px;
    bottom: 250px;
    z-index: -1;
    opacity: 0;
    transition: all 1s;
}
#section5 #chat_l.active {
    opacity: 1;
    animation: chat forwards 1.3s;
}
@keyframes chat {
    0% {margin-top: 0;}
    25% {margin-top: 50px;}
    50% {margin-top: 0;}
    75% {margin-top: 30px;}
    100% {margin-top: 0;}
}

/* section6 */
#section6 {
    padding: 0 40px;
    position: relative;
    height: 700px;
}
#section6 h2{
    color: #FFFFFF;
    font-size: 64px;
    font-family: 'SBAggroL';
    margin-top: 100px;
}
#section6 #h26 {
    margin-left: -1000px;
    transition: all 0.4s;
    opacity: 0;
}
#section6 #h26.active {
    margin-left: 0;
    opacity: 1;
}
#section6 p{
    font-size: 161px;
    color: #FFFFFF;
    font-family: 'SBAggroB';
    margin-top: 250px;
    opacity: 0;
    transition: all 0.6s;
}
#section6 #bord.active {
    opacity: 1;
    margin-top: 50px;
}
#section6 #bord_p {
    position: absolute;
    right: 300px;
    top: 300px;
    transition: all 0.4s;
    opacity: 0;
}
#section6 #bord_p.active {
    top: 100px;
    opacity: 1;
}
#section6 #bord_l {
    position: absolute;
    right: 300px;
    bottom: -100px;
    z-index: -1;
    transition: all 0.6s;
    opacity: 0;
}
#section6 #bord_l.active {
    bottom: 100px;
    opacity: 1;
}

/* section7 */
#section7 div{
    margin: 0 auto;
    height: 700px;
}
#section7 iframe{
    width: 100%;
    height: 100%;
}

/* section8 */
#section8 {
    height: 800px;
    position: relative;
}
#section8 img{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -104px 0 0 -120px;
}

